<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <h4>{{titulo}}</h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list *ngFor="let item of tareas">
  <ion-item>
    {{item.data.actividad}}
  </ion-item>
</ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="clicBoton()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
 <app-footer-home></app-footer-home>
</ion-footer>
